.cabecalho{
    background-color:rgb(9, 245, 245);
    

}
.cabecalhoImagem{
    width: 20%;

}

body{
    background-color: rgb(27, 200, 212);
}
li{
   color:rgb(231, 221, 221); 
   display: flex;
   justify-content: space-around;
}
*{
    margin:0 16px;
    padding:0 24px;
}

.cabecalhoListaItem{
    display:inline-block;
}